<h1>Create user</h1>
<form action="/create-user" method="post">
    <input type="text" name="firstName">
    <input type="text" name="lastName">
    <input type="password" name="password">
    <input type="text" name="email">
    <button type="submit">Enviar</button>
</form>
