<h1>Get user</h1>
<form action="/api/get-user" method="post">
    <input type="text" name="email">
    <button type="submit">Enviar</button>
</form>
<div class="user-infos">
    <div>{{ user.firstName }}</div>
    <div>{{ user.lastName }}</div>
    <div>{{ user.email }}</div>
</div>
