.author {
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    width: 80%;
}
.config {
    display: inline-block;
    text-align: right;
    font-size: 12px;
    width: 19%;
}