<div class="message-form">
    <form (ngSubmit)="onSubmit(messageForm)" #messageForm="ngForm" ngNativeValidate>
        <label for="message">Escreva uma mensagem:</label>
        <div class="form-inline">
            <div class="form-group" style="width: 89%;">
                <input style="width: 100%;" type="text" id="message-content" class="form-control" ngModel
                    name="messageContent" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>