<div class="app-message">
    <app-modal [open]="isEditing" title="Edit message" (close)="isEditing = false">
        <div class="form-group">
            <div class="input-group">
                <textarea class="form-control" type="text" [(ngModel)]="copiedMessage.content"></textarea>
            </div>
            <div class="input-group">
                <input class="form-control" type="text" [(ngModel)]="copiedMessage.author">
            </div>
            <div class="input-group">
                <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onEdit()"
                >Save</button>
            </div>
        </div>
    </app-modal>
    <article class="panel panel-default">
        <div class="panel-body">
            {{ message.content }}
        </div>
        <footer class="panel-footer">
            <div class="author">
                {{ message.author }}
            </div>
            <div class="config">
                <button
                    type="button"
                    class="btn btn-info"
                    (click)="editMessage()"
                >
                    Edit
                </button>
                <button
                    type="button"
                    class="btn btn-warning"
                    (click)="onRemove()"
                >
                    Delete
                </button>
            </div>
        </footer>
    </article>
</div>