.author {
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    width: 69%;
}
.data {
    display: inline-block;
}
.config {
    display: inline-block;
    text-align: right;
    font-size: 12px;
    margin-left: 15px;
}