<div class="app-message">
    <article class="panel panel-default">
        <div class="panel-body">
            {{ message.content }}
        </div>
        <footer class="panel-footer">
            <div class="author">
                {{ message.author }}
            </div>
            <div class="config">
                <button
                    type="button"
                    class="btn btn-info"
                    (click)="onEdit()"
                >
                    Edit
                </button>
                <button
                    type="button"
                    class="btn btn-warning"
                    (click)="onRemove()"
                >
                    Delete
                </button>
            </div>
        </footer>
    </article>
</div>